<!DOCTYPE html>
<html lang="en" ng-app="store">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="statics/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="statics/css/news.css" />
    <title>Title</title>
</head>
<body>
    <script type="text/javascript" src="statics/angular/angular.min.js"></script>
    <script type="text/javascript" src="app/client_app.js"></script>
    <div ng-controller="StoreController as store">
        <div ng-repeat="product in store.products">
            <h1>  {{product.name}} </h1>
            <h2> {{product.price | currency}} </h2>
            <h3> {{product.description}} </h3>
            <button ng-show="product.canPurchase">Add to Cart</button>


        <section ng-init="tab = 1">
            <ul class="nav nav-pills">
                <li ng-class="{ active:tab === 1 }">
                    <a href ng-click="tab = 1">Description</a>
                </li>
                <li ng-class="{ active:tab === 2 }">
                    <a href ng-click="tab = 2">Specifications</a>
                </li>
                <li ng-class="{ active:tab === 3 }">
                    <a href ng-click="tab = 3">Reviews</a>
                </li>
            </ul>
            <div class="panel" ng-show="tab === 1">
                <h4>Description</h4>
                <p>{{product.description}}</p>
            </div>
            <div class="panel" ng-show="tab === 2">
                <h4>Specifications</h4>
                <p>{{product.specifications}}</p>
            </div>
            <div class="panel" ng-show="tab === 3">
                <h4>Reviews</h4>
                <p>{{product.reviews}}</p>
            </div>
            </section>
        </section>

        </div>
    </div>
</body>
</html>